#front-page {
	height: 100%;
	display: table;
	padding-top: 6%;
}

.images {
	margin: 0 auto;
	vertical-align: middle;
	display:block;
}

.promo{
	text-align: center;
	margin-bottom: 7%;
}
.navbar-default{
	margin-bottom: 0px;
	margin-top:1px;
	padding:2px;
}
.cover {
	background-image: url('img/bg.jpg');
	height: 100%;
	margin-bottom: 10%;
}

.btn-success{
	border-color: 2px solid #41dd85;
	background-color: rgba(0,0,0,0);
	color: #41dd85;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin  {
  margin-bottom: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
